Package: enigma2-plugin-skins-darkness-fhd
Version: 1.5
Section: skins
Priority: optional
Architecture: all
Maintainer: digiteng
Description:Darkness_FHD Skin by digiteng for-openatv
Source: 
Homepage: 
OE: enigma2-skins
Depends: enigma2-plugin-systemplugins-weathercomponenthandler, enigma2-plugin-extensions-weather_msn
