Package: enigma2-plugin-skins-nacht
Version: 1.0
Section: skins
Priority: optional
Architecture: all
Maintainer: digiteng
Description: Nacht(neon) Skin by digiteng for-openatv
Source: https://github.com/digiteng/skin-openatv/tree/master/Nacht
Homepage: https://github.com/digiteng/
OE: enigma2-skins
Depends: enigma2-plugin-systemplugins-weathercomponenthandler, enigma2-plugin-extensions-weather_msn
